@model Ecommerce_app.Areas.Admin.Models.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Admin Home Page";
}

<h3>Dashboard</h3>
<h5 class="text-muted mb-4">Home / Dashboard</h5>

<div class="row">
    <div class="col-4">
        <div class="card m-2 border-0 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">商品數</h5>
                <h6 class="card-subtitle mb-2 text-muted">Products</h6>
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px; background-color:#f6f6fe;">
                            <i class="bi bi-cart-check" style="font-size: 30px; color: #4154f1" ;></i>
                        </div>
                    </div>
                    <p class="card-text col-9" style="font-size: 30px">@Model.ProductNum</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card m-2 border-0 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">客戶數</h5>
                <h6 class="card-subtitle mb-2 text-muted">Customers</h6>
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px; background-color:#ffecdf;">
                            <i class="bi bi-people" style="font-size: 30px; color: #ff771d" ;></i>
                        </div>
                    </div>
                    <p class="card-text col-9" style="font-size: 30px">@Model.UserNum</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card m-2 border-0 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">本日收益</h5>
                <h6 class="card-subtitle mb-2 text-muted">Revenue</h6>
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px; background-color:#e0f8e9;">
                            <i class="bi bi-currency-dollar" style="font-size: 30px; color: #2eca6a" ;></i>
                        </div>
                    </div>
                    <p class="card-text col-9" style="font-size: 30px">$@Model.Revenue / $@Model.Income</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <div class="col-12 card m-2 border-0 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">最近訂單</h5>
                <h6 class="card-subtitle mb-2 text-muted">Recently orders</h6>
                <table class="table">
                    <tbody>
                        @foreach (var item in Model.RecentlyOrder!)
                        {
                            <tr>
                                <td>@item.OrderId</td>
                                <td>@item.UserName</td>
                                <td>@item.TotalAmount</td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <span class="badge bg-success">已付款</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-secondary">處理中</span>
                                    }
                                </td>
                                <td>@item.OrderDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row">
                    <a href="#" class="card-link text-end text-muted">查看更多</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card m-2 border-0 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">最多銷售</h5>
                <h6 class="card-subtitle mb-2 text-muted">Top sales</h6>
                <table class="table">
                    <tbody>
                        @foreach (var item in Model.TopSales!)
                        {
                            <tr>
                                <td> <img src="@Html.DisplayFor(modelItem => item.ImageStr)" class="mx-auto" style="max-height:40px;" /></td>
                                <td>@item.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>